<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Age - Free Website Template</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    section class="hero">
    <img src="https://picsum.photos/id/1015/1920/600" alt="Wooden dock on lake">
    <div class="hero-overlay">
        <p>Suspendisse quis velit ac nisi ultricies tristique a eu velit.</p>
    </div>
    </section>